# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!/ProyectosJAVA/ooiaCargaMasivaCSV/src/pe/edu/pucp/ooia/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/ooiaGestAcademicaController/src/pe/edu/pucp/ooia/gest_academica/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/ooiaGestAtencionController/src/pe/edu/pucp/ooia/gest_atencion/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/ooiaGestEventosController/src/pe/edu/pucp/gestion_eventos/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/ooiaGestHumanaController/src/pe/edu/pucp/ooia/gest_humana/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/PruebaMySql/src/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/WebServicesOOIA/src/java/pe/edu/pucp/OOIA/lib/mysql-connector-java-8.0.24.jar
!/ProyectosJAVA/AuxiliarWS/src/java/lib/mysql-connector-java-8.0.24.jar
/ProyectosJAVA/AuxiliarWS/dist/
/ProyectosJAVA/WebServicesOOIA/dist/
/ProyectosJAVA/Interfaces/dist/
/ProyectosJAVA/OOIAConfigMySql/dist/
/ProyectosJAVA/ooiaGestHumanaModel/dist/
/ProyectosJAVA/ooiaGestAcademicaModel/dist/
/ProyectosJAVA/ooiaGestAtencionModel/dist/
/ProyectosJAVA/ooiaGestHumanaController/dist/
/ProyectosJAVA/ooiaGestAcademicaController/dist/
/ProyectosJAVA/ooiaCargaMasivaCSV/dist/
/ProyectosJAVA/ooiaGestAtencionController/dist/
/ProyectosJAVA/ooiaGestEventosModel/dist/
/ProyectosJAVA/ooiaGestEventosController/dist/
/ProyectosJAVA/ooiaGestAtencionModel/build/
/ProyectosJAVA/Interfaces/build/
/ProyectosJAVA/ooiaGestAcademicaModel/build
/ProyectosJAVA/ooiaCargaMasivaCSV/build
/ProyectosJAVA/ooiaGestAtencionController/build/
/ProyectosJAVA/ooiaGestAtencionModel/build
/ProyectosJAVA/ooiaGestHumanaController/build
/ProyectosJAVA/ooiaGestEventosController/build/
/ProyectosJAVA/OOIAConfigMySql/build/
/ProyectosJAVA/ooiaGestEventosModel/build/
