<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CursoLlevadoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="EvaluacionWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="CursoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="AlumnoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="CodigoAtencionWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="CursoWSPortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="CursosLlevadosCSVcargaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="EvaluacionesCSVcargaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="PsicologosCSVcargaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="ProfesoresCSVcargaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="GestionEventoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="AlumnosCSVcargaWS1PortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="GestionHumanaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="CitaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				<binding name="EventoAlumnoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				<binding name="HorarioWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				<binding name="CodigoAtencionWSPortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				<binding name="PonenteWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				<binding name="CoordinadorWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="GestionAtencionWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="ProfesorWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="PsicologoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="EventoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="AlumnoWSPortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="CursoLlevadoWSPortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="EspecialidadWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="PsicologosCSVcargaWSPortBinding2" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="AlumnosCSVcargaWS1PortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="EvaluacionesCSVcargaWSPortBinding1" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServicesOOIA/CursoLlevadoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoLlevadoWSPortBinding"
                contract="CursoLlevadoWS.CursoLlevadoWS" name="CursoLlevadoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EvaluacionWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionWSPortBinding"
                contract="EvaluacionWS.EvaluacionWS" name="EvaluacionWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CursoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding"
                contract="CursoWS.CursoWS" name="CursoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/AlumnoWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnoWSPortBinding"
                contract="AlumnoWS.AlumnoWS" name="AlumnoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CodigoWS"
                binding="basicHttpBinding" bindingConfiguration="CodigoAtencionWSPortBinding"
                contract="CodigoWS.CodigoAtencionWS" name="CodigoAtencionWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CursoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding1"
                contract="CursoWS.CursoWS" name="CursoWSPort1" />
            <endpoint address="http://localhost:8080/AuxiliarWS/EvaluacionesCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionesCSVcargaWSPortBinding"
                contract="EvaluacionesCSVcargaWS.EvaluacionesCSVcargaWS" name="EvaluacionesCSVcargaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/PsicologosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologosCSVcargaWSPortBinding"
                contract="PsicologosCSVcargaWS.PsicologosCSVcargaWS" name="PsicologosCSVcargaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/GesionEventoWS"
                binding="basicHttpBinding" bindingConfiguration="GestionEventoWSPortBinding"
                contract="GestionEventoWS.GestionEventoWS" name="GestionEventoWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/AlumnosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnosCSVcargaWS1PortBinding"
                contract="AlumnosCSVcargaWS.AlumnosCSVcargaWS1" name="AlumnosCSVcargaWS1Port" />
            <endpoint address="http://localhost:8080/AuxiliarWS/GestionHumanaWS"
                binding="basicHttpBinding" bindingConfiguration="GestionHumanaWSPortBinding"
                contract="GestionHumanaWS.GestionHumanaWS" name="GestionHumanaWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CitaWS"
                binding="basicHttpBinding" bindingConfiguration="CitaWSPortBinding"
                contract="CitaWS.CitaWS" name="CitaWSPort" />
            <endpoint address="http://alvaro:8080/WebServicesOOIA/EventoAlumno"
                binding="basicHttpBinding" bindingConfiguration="EventoAlumnoWSPortBinding"
                contract="EventoAlumnoWS.EventoAlumnoWS" name="EventoAlumnoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/HorarioWS"
                binding="basicHttpBinding" bindingConfiguration="HorarioWSPortBinding"
                contract="HorarioWS.HorarioWS" name="HorarioWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CodigoWS"
                binding="basicHttpBinding" bindingConfiguration="CodigoAtencionWSPortBinding1"
                contract="CodigoAtencionWS.CodigoAtencionWS" name="CodigoAtencionWSPort1" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/PonenteWS"
                binding="basicHttpBinding" bindingConfiguration="PonenteWSPortBinding"
                contract="PonenteWS.PonenteWS" name="PonenteWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CoordinadorWS"
                binding="basicHttpBinding" bindingConfiguration="CoordinadorWSPortBinding"
                contract="CoordinadorWS.CoordinadorWS" name="CoordinadorWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/GestionAtencionWS"
                binding="basicHttpBinding" bindingConfiguration="GestionAtencionWSPortBinding"
                contract="GestionAtencionWS.GestionAtencionWS" name="GestionAtencionWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/ProfesorWS"
                binding="basicHttpBinding" bindingConfiguration="ProfesorWSPortBinding"
                contract="ProfesorWS.ProfesorWS" name="ProfesorWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/PsicologoWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologoWSPortBinding"
                contract="PsicologoWS.PsicologoWS" name="PsicologoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EventoWS"
                binding="basicHttpBinding" bindingConfiguration="EventoWSPortBinding"
                contract="EventoWS.EventoWS" name="EventoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/AlumnoWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnoWSPortBinding1"
                contract="AlumnoWS.AlumnoWS" name="AlumnoWSPort1" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CursoLlevadoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoLlevadoWSPortBinding1"
                contract="CursoLlevadoWS.CursoLlevadoWS" name="CursoLlevadoWSPort1" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EspecialidadWS"
                binding="basicHttpBinding" bindingConfiguration="EspecialidadWSPortBinding"
                contract="EspecialidadWS.EspecialidadWS" name="EspecialidadWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/PsicologosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologosCSVcargaWSPortBinding2"
                contract="CargarCSVpsicologosWS.PsicologosCSVcargaWS" name="PsicologosCSVcargaWSPort2" />
            <endpoint address="http://localhost:8080/AuxiliarWS/ProfesoresCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="ProfesoresCSVcargaWSPortBinding"
                contract="CargarCSVprofesoresWS.ProfesoresCSVcargaWS" name="ProfesoresCSVcargaWSPort" />
            <endpoint address="http://localhost:8080/AuxiliarWS/AlumnosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnosCSVcargaWS1PortBinding1"
                contract="CargarCSValumnosWS.AlumnosCSVcargaWS1" name="AlumnosCSVcargaWS1Port1" />
            <endpoint address="http://localhost:8080/AuxiliarWS/EvaluacionesCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionesCSVcargaWSPortBinding1"
                contract="CargarCSVevaluacionesWS.EvaluacionesCSVcargaWS"
                name="EvaluacionesCSVcargaWSPort1" />
            <endpoint address="http://localhost:8080/AuxiliarWS/CursosLlevadosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="CursosLlevadosCSVcargaWSPortBinding"
                contract="CargarCSVcursosLlevadosWS.CursosLlevadosCSVcargaWS"
                name="CursosLlevadosCSVcargaWSPort" />
        </client>
    </system.serviceModel>
</configuration>