<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CursoLlevadoWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="EvaluacionWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="CursoWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="AlumnoWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="CodigoAtencionWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="GestionEventoWSPortBinding" receiveTimeout="00:02:00"
                    sendTimeout="00:02:00" maxReceivedMessageSize="2147483647" />
                <binding name="GestionAtencionWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="GestionHumanaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="ReporteEventoAlumnoWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="CursosLlevadosCSVcargaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="EvaluacionesCSVcargaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="AlumnosCSVcargaWS1PortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="ProfesoresCSVcargaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="PsicologosCSVcargaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="ReporteAsesorOpinionWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="PlantillasCSVcargaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServicesOOIA/CursoLlevadoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoLlevadoWSPortBinding"
                contract="CursoLlevadoWS.CursoLlevadoWS" name="CursoLlevadoWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/EvaluacionWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionWSPortBinding"
                contract="EvaluacionWS.EvaluacionWS" name="EvaluacionWSPort" />
            <endpoint address="http://localhost:8080/WebServicesOOIA/CodigoWS"
                binding="basicHttpBinding" bindingConfiguration="CodigoAtencionWSPortBinding"
                contract="CodigoWS.CodigoAtencionWS" name="CodigoAtencionWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/AlumnosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="AlumnosCSVcargaWS1PortBinding"
                contract="CargarCSValumnosWS.AlumnosCSVcargaWS1" name="AlumnosCSVcargaWS1Port" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/CursosLlevadosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="CursosLlevadosCSVcargaWSPortBinding"
                contract="CargarCSVcursosLlevadosWS.CursosLlevadosCSVcargaWS"
                name="CursosLlevadosCSVcargaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/EvaluacionesCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="EvaluacionesCSVcargaWSPortBinding"
                contract="CargarCSVevaluacionesWS.EvaluacionesCSVcargaWS"
                name="EvaluacionesCSVcargaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/ProfesoresCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="ProfesoresCSVcargaWSPortBinding"
                contract="CargarCSVprofesoresWS.ProfesoresCSVcargaWS" name="ProfesoresCSVcargaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/PsicologosCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologosCSVcargaWSPortBinding"
                contract="CargarCSVpsicologosWS.PsicologosCSVcargaWS" name="PsicologosCSVcargaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/ReporteAsesorOpinionWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteAsesorOpinionWSPortBinding"
                contract="GenerarReporteAsesorWS.ReporteAsesorOpinionWS" name="ReporteAsesorOpinionWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/GestionAtencionWS"
                binding="basicHttpBinding" bindingConfiguration="GestionAtencionWSPortBinding"
                contract="GestionAtencionWS.GestionAtencionWS" name="GestionAtencionWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/GestionEventoWS"
                binding="basicHttpBinding" bindingConfiguration="GestionEventoWSPortBinding"
                contract="GestionEventoWS.GestionEventoWS" name="GestionEventoWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/GestionHumanaWS"
                binding="basicHttpBinding" bindingConfiguration="GestionHumanaWSPortBinding"
                contract="GestionHumanaWS.GestionHumanaWS" name="GestionHumanaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/PlantillasCSVcargaWS"
                binding="basicHttpBinding" bindingConfiguration="PlantillasCSVcargaWSPortBinding"
                contract="ObtenerPlantillaCSVcargaWS.PlantillasCSVcargaWS"
                name="PlantillasCSVcargaWSPort" />
            <endpoint address="http://54.157.187.65:8080/AuxiliarWS/ReporteEventoAlumnoWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteEventoAlumnoWSPortBinding"
                contract="ReporteEventoAlumnoWS.ReporteEventoAlumnoWS" name="ReporteEventoAlumnoWSPort" />
        </client>
    </system.serviceModel>
</configuration>